.info-body {
	width: 90%;
	display: inline-block;
	margin: 0rem 5% 1.25rem 5%
}

.title {
	line-height: 1.5625rem;
	height: 5rem;
	width: 100%;
	background: transparent;
	border: 0px;
	margin-left: auto;
	margin-right: auto;
	outline: 0;
	padding: 0px;
}

.btn {
	width: 5rem;
	height: 1.5625rem;
	line-height: 1.6875rem;
	background-color: rgba(255, 255, 255, 0.3);
	text-align: center;
	border-radius: 5px;
	display: inline-block;
}

.btn .icon {
	width: .9rem;
	float: left;
	margin: 0.375rem;
	margin-right: 0px;
}

.edit-body {
	width: 90%;
	margin: 5%;
}

.edit-body .top {
	width: 100%;
	height: 1.5625rem;
	line-height: 1.5625rem;
	text-align: center;
}

.edit-body .top .icons {
	width: 33.3%;
}

.edit-body .top img {
	width: 1.2rem;
	height: 1.2rem;
	margin-top: .2rem;
}

.edit-body .top .banner {
	width: 5.625rem;
	height: 1.5625rem;
	line-height: 1.5625rem;
	display: inline-block;
	background: #fff;
	border-radius: 10px;
	text-align: center;
	border: 1px solid #ccc;
}

.edit-body .top .banner div {
	width: 33%;
	height: 100%;
	display: inline-block;
	float: left;
}

.edit-body .top .banner a {
	font-size: 1.2rem !important;
}

.edit-body .top .banner div.border {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.edit-body .edit-content {
	line-height: 1.25rem;
	width: 100%;
	height: 6rem;
	outline: 0;
	word-wrap: break-word;
	overflow: hidden;
	background: #fff;
	border-radius: 5px;
	padding: 0.625rem;
	text-align: center;
}

.edit-body .edit-content img {
	max-width: 100%;
	max-height: 100%;
}