.info-body {
	width: 90%;
	display: inline-block;
	margin: 0rem 5% 1.25rem 5%
}

.title {
	line-height: 1.5625rem;
	height:5rem;
	width: 100%;
	background: transparent;
	border: 0px;
	margin-left: auto;
	margin-right: auto;
	outline: 0;
	padding: 0px;
}

.btn {
	width: 5rem;
	height: 1.5625rem;
	line-height: 1.6875rem;
	background-color: rgba(255, 255, 255, 0.3);
	text-align: center;
	border-radius: 5px;
	display: inline-block;
}

.btn .icon {
	width: .9rem;
	float: left;
	margin: 0.375rem;
	margin-right: 0px;
}

.edit-body {
	width: 90%;
	margin: 5%;
}

.edit-body .top {
	width: 100%;
	height: 1.25rem;
	text-align: center;
}

.edit-body .top img {
	width: 1.2rem;
}

.edit-body .edit-content {
	line-height: 1.25rem;
	width: 100%;
	min-height: 7.5rem;
	outline: 0;
	word-wrap: break-word;
	overflow-x: hidden;
	overflow-y: visible;
	background: #fff;
	border-radius: 5px;
	padding:0.625rem;
}