.info-body {
	width: 90%;
	display: inline-block;
	margin: 0rem 5% 1.25rem 5%
}

.title {
	line-height: 1.5625rem;
	height: 5rem;
	width: 100%;
	background: transparent;
	border: 0px;
	margin-left: auto;
	margin-right: auto;
	outline: 0;
	padding: 0px;
}

#music {
	width: 80%;
}

#musicname {
	width: 80%;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#cover {
	width: 20%;
}

.btn {
	height: 1.5625rem;
	line-height: 1.6875rem;
	display: inline-block;
}

.btn .fa {
	padding: 0.35rem;
	background: #fff;
	border-radius: 50px;
	color: #333;
	box-shadow: 0px 0px 1px #333;
	width: 1.5rem;
	height: 1.5rem;
	box-shadow: 0px 0.05px 0.05px #333;
}

.btn .icon {
	float: left;
}

.edit-body {
	width: 90%;
	margin: 5%;
}

.edit-body .top {
	width: 100%;
	height: 1.5625rem;
	line-height: 1.5625rem;
	text-align: center;
}

.edit-body .top .icons {
	width: 33.3%;
}

.edit-body .top img {
	width: 1.2rem;
	height: 1.2rem;
	margin-top: .2rem;
}

.edit-body .top .banner {
	width: 6.625rem;
	height: 1.5625rem;
	line-height: 1.5625rem;
	display: inline-block;
	background: #fff;
	border-radius: 10px;
	text-align: center;
	border: 1px solid #ccc;
}

.edit-body .top .banner div {
	width: 33%;
	height: 100%;
	display: inline-block;
	float: left;
}

.edit-body .top .banner a {
	font-size: 1.2rem !important;
}

.edit-body .top .banner div.border {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.edit-body .edit-content,.edit-body .edit-content2 {
	line-height: 1.25rem;
	width: 100%;
	min-height: 6rem;
	display: inline-block;
	outline: 0;
	word-wrap: break-word;
	overflow: hidden;
	background: #fff;
	border-radius: 5px;
	padding: 0.625rem;
	text-align: center;
}

.edit-body .edit-content img {
	margin: 5%;
	max-width: 90%;
	max-height: 90%;
}


/*视频容器*/

video {
	/*修复尺寸*/
	width: 250px;
	height: 250px;
	max-height: 100%;
	margin:5%;
}