html,
body {
	background-color: #fff;
}

.mui-table-view-cell {
	background: #fff;
	padding: 0px 0.9375rem;
}

.oa-contact-cell.mui-table .mui-table-cell {
	padding: 0.625rem 0;
	vertical-align: top;
}

.oa-contact-cell {
	position: relative;
}

.name {
	margin-top: -10px;
	margin-bottom: 10px;
}

.oa-contact-avatar {
	width: 6.875rem;
}

.oa-contact-avatar img {
	width: 6.25rem;
	height: 4.5rem;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.oa-contact-content {
	width: 100%;
}

.oa-contact-icon {
	width: 1.5rem;
}

.oa-contact-icon img {
	width: 2.5rem;
	float: right;
}

.check {
	background: url(../images/check.png) 97% center no-repeat;
	background-size: 1.25rem;
}