.mui-card {
	border-radius: 5px;
}

.mui-card-content-inner {
	padding: 0.9375rem;
	min-height: 9.375rem;
	display: inline-block;
}

.mui-card-content {
	width: 100%;
}

.title {
	text-shadow: 1px 1px 1px #333;
}
.avatar {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	float: left;
}

.name {
	margin: 0px;
	overflow: hidden;
	height: 1.25rem;
	line-height: 1.25rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.split {
	padding-left: 0.3125rem;
	padding-right: 0.3125rem;
	text-align: center;
}

.tablecell {
	padding: 0px;
	vertical-align: middle;
}

.type p {
	width: 90%;
	height: 0.9375rem;
	line-height: 0.9375rem;
	margin: 0px;
	margin-left: 0.3125rem;
	float: left;
}

.type .line {
	width: 0.3125rem;
	height: 1.875rem;
	background: #3AB5D4;
	border-radius: 10px;
	float: left;
}

.bottom {
	position: absolute;
	bottom: 0.9375rem;
	left: 0.9375rem;
	width: 100%;
}