.mui-table-view-cell {
	background: #fff;
	padding: 0px 0.9375rem;
	border-bottom: 1px solid #c8c7cc;
}

.oa-contact-cell.mui-table .mui-table-cell {
	padding: 0px;
	vertical-align: middle;
}

.oa-contact-cell.comment .mui-table-cell {
	padding: 0.3125rem 0px 0px;
	vertical-align: middle;
}

.oa-contact-cell {
	position: relative;
}

.oa-contact-avatar {
	width: 4.6875rem;
}

.oa-contact-avatar img {
	width: 3.75rem;
	height: 3.75rem;
	border: 1px solid #ccc;
	border-radius: 50%;
}

.oa-contact-content {
	width: 100%;
	vertical-align: middle;
}

.oa-contact-icon {
	vertical-align: middle;
	width: 1.875rem;
	text-align: right;
}

.oa-contact-icon img {
	width: 2.5rem;
	float: right;
}

.oa-contact-date {
	width: 4.6875rem;
}

.mui-table-view-cell:after {
	left: 0px;
	background-color: transparent;
}

#header .curr {
	border-bottom: 2px solid #fff;
	padding-bottom: 0.1875rem;
}

/*.footer {
	background: none;
	border-top: 1px solid #ccc;
}

.footer .txt {
	width: 80%;
	padding: 2px 10px;
	height: 30px;
	line-height: 30px;
	margin-top: 7px;
	float: left;
	border: 0px;
	border-radius: 5px;
	border-bottom: 1px solid #2CADFA;
}

.footer .btn {
	padding: 0.175rem 0.75rem;
	background: #2CADFA;
	border-color: #2CADFA;
}*/