.mui-table-view-cell {
	background: #fff;
	padding: 0px 0.9375rem;
	border-bottom: 1px solid #c8c7cc;
}

.oa-contact-cell.mui-table .mui-table-cell {
	padding: 0.625rem 0;
	vertical-align: middle;
}

.oa-contact-cell {
	position: relative;
}

.oa-contact-avatar {
	width: 4.6875rem;
}

.oa-contact-avatar img {
	width: 3.75rem !important;
	height: 3.75rem !important;
	border: 1px solid #ccc;
	border-radius: 50%;
}

.oa-contact-content {
	width: 100%;
}

.oa-contact-icon {
	width: 3.125rem;
}

.oa-contact-icon img {
	width: 2.5rem;
	float: right;
}

.mui-table-view-cell:after {
	left: 0px;
	background-color: transparent;
}

.guanzhu {
	border: 1px solid #49be38;
	color: #49be38;
	text-align: center;
	border-radius: 15px;
	padding: 0.1rem 0.6rem;
	display: inline-block;
	float: right;
	margin-top: 0rem;
}