#close {
	position: absolute;
	width: 160px;
	left: 50%;
	margin-left: -80px;
	bottom: 15%;
	padding: 10px;
	color: #fff;
	border-color: #fff;
}

.mui-slider-item {
	width: 100%;
	height: 100%;
	position: relative;
}

.mui-slider-item.one {
	background: url("../images/adv/01.jpg");
	background-size: 120% 120%;
	background-position: 20% 10%;
}

.mui-slider-item.one img {
	position: absolute;
	width: 70% !important;
	top: 10%;
	left: 10%;
}

.mui-slider-item.two {
	background: url("../images/adv/01.jpg");
	background-size: 120% 120%;
	background-position: 20% 10%;
}

.mui-slider-item.two img {
	position: absolute;
	width: 70% !important;
	top: 10%;
	left: 10%;
}

.mui-slider-item.three {
	background: url("../images/adv/01.jpg");
	background-size: 120% 120%;
	background-position: 20% 10%;
}

.mui-slider-item.three img {
	position: absolute;
	width: 70% !important;
	top: 10%;
	left: 10%;
}

.mui-slider-item.four {
	background: url("../images/adv/01.jpg");
	background-size: 120% 120%;
	background-position: 20% 10%;
}

.mui-slider-item.four img {
	position: absolute;
	width: 70% !important;
	top: 10%;
	left: 10%;
}

.animated {
	-webkit-animation-duration: 1s;
	-webkit-animation-play-state: paused;
	-webkit-animation-fill-mode: both;
}

.coverMoved .fadeInUp {
	-webkit-animation-name: fadeInUp;
	-webkit-animation-play-state: running;
	-webkit-animation-delay: 0.5s;
	display: block;
}

.coverMoved {
	-webkit-animation: coverMove 3s infinite;
	-moz-animation: coverMove 3s infinite;
	-ms-animation: coverMove 3s infinite;
	animation: coverMove 3s infinite;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
}


/**从上往下移入**/

@-ms-keyframes coverMove {
	0% {
		background-position: 20% 10%;
	}
	50% {
		background-position: 40% 10%;
	}
	100% {
		background-position: 20% 10%;
	}
}

@-moz-keyframes coverMove {
	0% {
		background-position: 20% 10%;
	}
	50% {
		background-position: 40% 10%;
	}
	100% {
		background-position: 20% 10%;
	}
}

@-o-keyframes coverMove {
	0% {
		background-position: 20% 10%;
	}
	50% {
		background-position: 40% 10%;
	}
	100% {
		background-position: 20% 10%;
	}
}

@-webkit-keyframes coverMove {
	0% {
		background-position: 20% 10%;
	}
	50% {
		background-position: 40% 10%;
	}
	100% {
		background-position: 20% 10%;
	}
}

@keyframes coverMove {
	0% {
		background-position: 20% 10%;
	}
	50% {
		background-position: 40% 10%;
	}
	100% {
		background-position: 20% 10%;
	}
}

.coverMove {
	-ms-animation-name: coverMove;
	-moz-animation-name: coverMove;
	-o-animation-name: coverMove;
	-webkit-animation-name: coverMove;
	animation-name: coverMove
}


/**从上往下移入**/

@-ms-keyframes fadeInUp {
	0% {
		opacity: 0;
		-ms-transform: translate3d(0, 100%, 0);
		-moz-transform: translate3d(0, 100%, 0);
		-o-transform: translate3d(0, 100%, 0);
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	100% {
		opacity: 1;
		-ms-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-webkit-transform: none;
		transform: none
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-ms-transform: translate3d(0, 100%, 0);
		-moz-transform: translate3d(0, 100%, 0);
		-o-transform: translate3d(0, 100%, 0);
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	100% {
		opacity: 1;
		-ms-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-webkit-transform: none;
		transform: none
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-ms-transform: translate3d(0, 100%, 0);
		-moz-transform: translate3d(0, 100%, 0);
		-o-transform: translate3d(0, 100%, 0);
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	100% {
		opacity: 1;
		-ms-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-webkit-transform: none;
		transform: none
	}
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-ms-transform: translate3d(0, 100%, 0);
		-moz-transform: translate3d(0, 100%, 0);
		-o-transform: translate3d(0, 100%, 0);
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	100% {
		opacity: 1;
		-ms-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-webkit-transform: none;
		transform: none
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-ms-transform: translate3d(0, 100%, 0);
		-moz-transform: translate3d(0, 100%, 0);
		-o-transform: translate3d(0, 100%, 0);
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	100% {
		opacity: 1;
		-ms-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-webkit-transform: none;
		transform: none
	}
}

.fadeInUp {
	-ms-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp
}