/*上拉加载动画*/

.mui-bar~.mui-content .mui-fullscreen {
	top: 2.75rem;
	height: auto;
}

.mui-pull-top-tips {
	position: absolute;
	top: -1.25rem;
	left: 50%;
	margin-left: -1.5625rem;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 100%;
	z-index: 1;
}

.mui-bar~.mui-pull-top-tips {
	top: 1.562rem;
}

.mui-pull-top-wrapper {
	width: 2.6rem;
	height: 2.6rem;
	display: block;
	text-align: center;
	background-color: #efeff4;
	border: 1px solid #ddd;
	border-radius: 25px;
	background-clip: padding-box;
	box-shadow: 0 0.25rem 0.625rem #bbb;
	overflow: hidden;
}

.mui-pull-top-tips.mui-transitioning {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}

.mui-pull-top-tips .mui-pull-loading {
	margin: 0;
}

.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
	margin-top: 0.4375rem;
}

.mui-pull-bottom-tips {
	text-align: center;
	background-color: #efeff4;
	font-size: 0.9375rem;
	line-height: 2.5rem;
	color: #777;
	/*下面样式：新增（提示文字居底部）*/
	position: fixed;
	width: 100%;
	bottom: 0px;
}

.mui-pull-top-canvas {
	overflow: hidden;
	background-color: #fafafa;
	border-radius: 40px;
	box-shadow: 0 0.25rem 0.625rem #bbb;
	width: 2.5rem;
	height: 2.5rem;
	margin: 0 auto;
}

.mui-pull-top-canvas canvas {
	width: 2.5rem;
}

.mui-slider-indicator.mui-segmented-control {
	background-color: #efeff4;
}