@-webkit-keyframes dandelion_i {
	0% {
		transform: translate3d(0, 24.44px, 0) rotate3d(0, 0, 1, -100deg)
	}
	35% {
		transform: translate3d(0, -21.39px, 0) rotate3d(0, 0, 1, 50deg)
	}
	60% {
		transform: translate3d(0, -27.5px, 0) rotate3d(0, 0, 1, 10deg)
	}
	75% {
		transform: translate3d(0, -33.61px, 0) rotate3d(0, 0, 1, 100deg)
	}
	100% {
		transform: translate3d(0, -51.94px, 0) rotate3d(0, 0, 1, 180deg)
	}
}

@keyframes dandelion_i {
	0% {
		transform: translate3d(0, 24.44px, 0) rotate3d(0, 0, 1, -100deg)
	}
	35% {
		transform: translate3d(0, -21.39px, 0) rotate3d(0, 0, 1, 50deg)
	}
	60% {
		transform: translate3d(0, -27.5px, 0) rotate3d(0, 0, 1, 10deg)
	}
	75% {
		transform: translate3d(0, -33.61px, 0) rotate3d(0, 0, 1, 100deg)
	}
	100% {
		transform: translate3d(0, -51.94px, 0) rotate3d(0, 0, 1, 180deg)
	}
}

@-webkit-keyframes dandelion_d {
	100% {
		transform: translate3d(120vw, -40vh, 0)
	}
}

@keyframes dandelion_d {
	100% {
		transform: translate3d(120vw, -40vh, 0)
	}
}

@-webkit-keyframes ballon_d {
	100% {
		transform: translate3d(0, -140vh, 0)
	}
}

@keyframes ballon_d {
	100% {
		transform: translate3d(0, -140vh, 0)
	}
}

@-webkit-keyframes ballon_i {
	0% {
		transform: translate3d(-20vw, 0, 0)
	}
	50% {
		transform: translate3d(80vw, 0, 0)
	}
	100% {
		transform: translate3d(20vw, 0, 0)
	}
}

@keyframes ballon_i {
	0% {
		transform: translate3d(-20vw, 0, 0)
	}
	50% {
		transform: translate3d(80vw, 0, 0)
	}
	100% {
		transform: translate3d(20vw, 0, 0)
	}
}